{% extends "website/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- about -->
	<div class=" w3ls-section" id="inner-about">
		<div class="container">
			<h3 class="h3-w3l">about us</h3>
			<!-- about bottom-->
			<div class="about-bottom">
				<div class="col-md-6 about-w3right">
					
				</div>
				<div class="col-md-6 about-w3left"> 
					<p>
							We’re a leading financial services provider with over 25 years of banking operations in the U.S. We’ve been helping businesses and individuals achieve their ambitions, while transforming lives and supporting U.S’s growth agenda.
							PGA Bank Limited combines its expertise, rich knowledge and experience of the local environment, to bring the best of banking to its customers and clients.
					</p>
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div>	
			<!-- //about-bottom -->
	</div>
	<!-- //about -->
{% endblock %}