{% extends "website/base.home.html" %}

{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
  	<!-- about -->
	<div class="home-about w3ls-section">
		<div class="container">
			<!-- about top-->
			<div class="w3ls-about agile-section">
					<div class="w3-agileits-about-grids">
						<div class="col-md-6 col-sm-6 col-xs-6 agileits-title">
							<h3>what makes us Unique?</h3> 
						</div>
						<div class="col-md-6 col-sm-6 col-xs-6  agile-about-bottom-right">
							<p>We predict that this industry will radically change in the coming 3 to 5 years. Cross-border offshore banking needs are to be redefined, investment services and portfolio management to be professionalised as well as risk and regulations to be optimised. In addition compliance and controls need to be more efficiently designed, a full tax transparency needs to be guaranteed, organisations need to operate more cost efficient and the bank focus belongs to their clients.</p>
							<p class="w3ls-about-text">We are uniquely positioned to assist you in successfully responding to your challenges. We help you not only comply with regulatory requirements but also transform your bank profitably and grow even further in the next decade.</p>
						
						</div>
						<div class="clearfix"> </div>
				   </div>
			</div>
			<!-- //about top-->
			<!-- about bottom-->
			<div class="about-bottom">
				<div class="col-md-6 about-w3right">
					
				</div>
				<div class="col-md-6 about-w3left"> 
					<p>
						We’re a leading financial services provider with over 25 years of banking operations in the U.S. We’ve been helping businesses and individuals achieve their ambitions, while transforming lives and supporting U.S’s growth agenda.
						PGA Bank Limited combines its expertise, rich knowledge and experience of the local environment, to bring the best of banking to its customers and clients.
					</p> 
				</div> 
				<div class="clearfix"> </div>
			</div>		
		</div>	
			<!-- //about-bottom -->
			<!-- about-bottom-grid -->
			<div class="wthree-about-bot-grid-sec">

				<div class="col-md-6  col-sm-6 w3ls-abg w3ls-abg1 abg2">
					<h4>Pay people. Pay bills.Transfer money.</h4>
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
				</div>
				<div class="col-md-6 col-sm-6 w3ls-abg w3ls-abg2 abg3">
					<h4>Mobile Privacy and Security</h4>
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
				</div>
				
				<div class="clearfix"> </div>
			</div>
			<!-- //about-bottom-grid-->
	</div>
	<!-- //about -->

{% endblock %}